<div id="<%= dom_id transaction_detail %>">
  <p>
    <strong>Name:</strong>
    <%= transaction_detail.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction_detail.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= transaction_detail.user_id %>
  </p>

</div>
