<h1>Editing transaction detail</h1>

<%= render "form", transaction_detail: @transaction_detail %>

<br>

<div>
  <%= link_to "Show this transaction detail", @transaction_detail %> |
  <%= link_to "Back to transaction details", transaction_details_path %>
</div>
