<div class="app-name--container">
    <h1 class="app-name text-muted">My Budget</h1>
</div>

<div class="d-flex flex-column">
    <%= link_to "log in", new_user_session_path, class: "my-btn btn btn-main-color p-3 mb-2" %>
    <%= link_to "sign up", new_user_registration_path, class: "my-btn btn btn-light p-3" %>
</div>