/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima-Nova-Regular.woff2') format('woff2');
}

:root {
  --font-proxima-nova: 'Proxima Nova', sans-serif;
  --main-color: #3778c2;
  --second-color: #5fb523;
  --text-color: #434b54;
  --bg-main-color: #f4f4f4;
  --off-white: #fcfcfc;
}

.bg-main-color {
  background-color: var(--bg-main-color);
}

body {
  font-family: var(--font-proxima-nova);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

.app-name--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
}

.app-name {
  font-family: 'Pacifico', cursive;
  font-weight: 600;
}

.my-btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.btn-main-color {
  background-color: var(--main-color);
  color: var(--off-white);
  border: 1px solid var(--main-color);
}

.btn-main-color:focus,
.btn-main-color:hover {
  box-shadow: 0 0 0 0.2rem rgba(55, 120, 194, 0.5);
  color: var(--off-white);
}
