/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--light-gray);
  background: var(--off-white);
}

::-webkit-scrollbar-thumb {
  background: var(--second-color);
}

::-webkit-resizer {
  display: none;
}

:root {
  --main-color: #3778c2;
  --second-color: #5fb523;
  --second-color-dark: #356c0e;
  --text-color: #434b54;
  --light-gray: #b6b6b6;
  --bg-main-color: #f4f4f4;
  --off-white: #fcfcfc;
}

.bg-main-color {
  background-color: var(--bg-main-color);
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg-main-color);
  color: var(--text-color);
}

main {
  margin-top: 4rem;
}

main:has(#categories) {
  margin-top: 2.7rem;
}

.app-name--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.app-name {
  font-family: 'Pacifico', 'Satisfy', cursive;
  font-weight: 600;
}

.alert {
  position: absolute;
  bottom: 6rem;
  left: 0;
  right: 0;
  z-index: 100;
}
