/* ? The transaction page uses most of the categories-page styles
/* ? so in order to avoid repeating the same styles, categories selectors
/* ? will be compounded with the transaction page selectors for the transaction page
/* ? uniqueness */

.categories__list.transactions {
  max-height: 50vh;
}

.categories_card.relative {
  position: relative;
}

.transaction-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0.8rem;
}

.transaction-name {
  font-size: 1.1rem;
}

.categories--actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem 0.9rem 0.8rem;
}
